/* IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@500;600;700;800&display=swap"); */

/* 
:root {
    --background: #232946;
    --header: #b8c1ec;
    --footer: #b8c1ec;
    --heading1-2: #fffffe;
    --paragraph: #b8c1ec;
    --button: #eebbc3;
    --buttonText: #232946;
    --tagParagraph: #121629;


    --text-footer: #121629;

    
    --stroke: #121629;
    --main: #b8c1ec;
    --highlight: #eebbc3;
    --secondary: #fffffe;
    --tertiary: #eebbc3;

    
    --cardBackground: #fffffe;
    --cardHeadline: #232946;
    --cardParagraph: #232946;
    --cardTagBackground: #232946;
    --cardTagText: #b8c1ec;
    --cardHighlight: #d4939d;

    
    --text-heading1: 8em;
    --text-heading2: 4.8em;
    --text-heading3-4-5-6: 3.2em;
    --text-paragraph: 2.2em;
    --text-secondary: 1.6em;
    --text-terciary: 1.2em;

    --sp-xxxl: 12rem;
    --sp-xxl: 8rem;
    --sp-xl: 5rem;
    --sp-lg: 3.2rem;
    --sp-md: 1.6rem;
    --sp-sm: 0.8rem;
    --sp-xs: 0.5rem;
} */

/*NORMALIZE*/
/* * {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--paragraph);
    background-color: var(--background);
    overflow-x: hidden;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: var(--text-secondary);
    text-decoration: none;
    color: var(--tagParagraph);
} */

/* header {
    padding: var(--sp-sm) var(--sp-xxxl);
    background-color: var(--header);
    width: 100%;
    box-shadow: 0 0 7px rgb(0, 0, 0);
    top: 0;
} */

/* footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: 0 0 7px rgb(0, 0, 0);
    background-color: var(--footer);
    padding-top: var(--sp-md)
} */

/* .navbar-toggle {
    color: var(--background);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;    
    display: none;
}

#menu {
    background-color: var(--header);
    z-index: 999;
    width: 100%;
    position: sticky;
    top: 0;
}

#menu #pages {
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    gap: 1rem;
    
    overflow-y: auto;
}

#menu #pages .pages__pillow {
    padding: 0.8rem 1.6rem;
    width: 13.2rem;
    height: 3.6rem;
    background: var(--cardBackground);
    border: 2px solid var(--stroke);
    border-radius: 20px;
}

.pages__pillow:hover {
    animation: scale-up 0.8s linear both;
}

#menu #pages .pages__pillow a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: var(--text-secondary);
    color: var(--tagParagraph);
}

#menu #btn-nav {
    font-size: 2rem;
    border: none;
} */

/*
******************
****INDEX.html****
******************
*/

/* #bannerPpal {
    display: grid;
}

#bannerPpal > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--text-heading1);
    font-style: normal;
    font-weight: 800;
    color: var(--heading1-2);
}

#potentialUsers {
    margin-top: var(--sp-lg);
    margin-bottom: var(--sp-xxl);
}

#potentialUsers > h2, #Jobs > h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    color: var(--heading1-2);
    font-size: var(--text-heading2);
}

#Jobs > p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: var(--text-paragraph);
}

.cards {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            216px,
            1fr
        )
    );
    gap: 16px;
}

.profile-card {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 20px;
    position: relative;
    background-color: var(--cardBackground);
    border: 2px solid var(--stroke);
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
}

.profile-card__desc > h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: var(--text-footer);
}

.profile-card__desc p {
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: var(--text-secondary);
    color: var(--cardParagraph);
    gap: var(--sp-sm);
    font-style: italic;
}

.profile-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 0 10 60px -10px rgba(13, 28, 39, .5);
}

.profile-card__info {
    display: flex;
    flex-flow: row wrap;
    column-gap: var(--sp-md);
}

.profile-card__social a {
    display: inline-flex;
    width: 30px;
    height: 30px;
    margin: 0.3rem;
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    flex-shrink: 0;
    transition: all .2s;
}

.facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);

}

.twitter {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
}

.instagram {
    background: linear-gradient(45deg, #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
} */

/* .newsletterFooter, .newsletter {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            216px,
            35rem
        )
    );
    margin: 0 20px;
}

.newsletterFooter__data {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 20px;
    position: relative;
    background-color: var(--cardBackground);
    border: 1px solid var(--stroke);
    padding: 3.5rem 3rem;
    gap: var(--sp-md);
    display: flex;
    flex-direction: column;
    margin: 0 auto var(--sp-lg);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information__more {
    display: flex;
    flex-flow: row wrap;
    gap: var(--sp-lg);
    justify-content: end;
}

.information__more h3 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: var(--text-paragraph);
    letter-spacing: -0.02em;
    color: var(--text-footer);
}

.information__more ul {
    font-family: 'Quicksand';
    color: var(--text-footer);
    font-size: var(--text-secondary);
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    margin-top: var(--sp-md);
}

.information__more .followUs ul {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.information__more .followUs ul li figure img {
    width: 25px;
    height: 25px;
    color: var(--stroke);
}

.option__socialNetwork:hover {
    animation: scale-up 0.8s linear both;
}

footer .copy-right {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: var(--text-terciary);
    text-align: right;
    letter-spacing: 0.05em;
    color: var(--text-footer);
} */

/* @media screen and (max-width: 359.98px) {
    header {
        padding:var(--sp-sm) var(--sp-md) !important;
    }

    #bannerPpal {
        padding-top: var( --sp-md);
    }

    #bannerPpal > h1 { 
        font-size: var(--text-heading3-4-5-6) !important;
    }
} */

/* @media screen and (max-width: 575.98px) {
    header {
        padding:var(--sp-sm) var(--sp-lg);
    }
    
    .navbar-toggle {
        display: block;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    header nav a img {
        width: 60px;
        height: 60px;
    }

    .navigation {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background);
        position: fixed;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
        gap: 1rem;
        
        height: calc(100% - 80px);
        overflow-y: auto;

        left: 0;
        transition: left 0.3s;
    }

    .navbar .navigation .pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.8rem 1.6rem;
        gap: 1.6rem;
        width: 13.2rem;
        height: 3.6rem;
        background: var(--cardBackground);
        border: 2px solid var(--stroke);
        border-radius: 20px;
    }

    .pages:hover {
        animation: scale-up 0.8s linear both;
    }

    .navigation__item {
        line-height: 70px;
    }

    .navigation_visible {
        left: 100%;
    }

    #bannerPpal {
        padding-top: var( --sp-md);
    }

    #bannerPpal, #potentialUsers {
        padding-left: var(--sp-lg) !important;
        padding-right: var(--sp-lg) !important;
    }

    #goldenCircle > div {
        width: 70% !important;
    }

    #goldenCircle > div > article > h2 {
        align-self: flex-start !important;
        font-size: var(--text-paragraph) !important;
    }

    #goldenCircle > div > article > p {
        font-size: var(--text-secondary) !important;
    }

    #potentialUsers > h2 {
        font-size: var(--text-heading3-4-5-6) !important;
    }

    .newsletter {
        display: block !important;
    }

    .newsletter > .newsletter__data > article > h4 {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: var(--text-secondary);
        letter-spacing: -0.02em;
        color: var(--text-footer);
    }

    .newsletter > .newsletter__data > article > p {
        font-family: 'Quicksand';
        font-weight: 400;
        font-size: var(--text-terciary);
        color: var(--text-footer);
        max-width: 300px;
    }

    .newsletter .newsletter__actions {
        display: flex;
        flex-direction: row;
        gap: 1rem
    }

    .newsletter .newsletter__actions input {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 1.2rem;
    
        width: 15rem;
        height: 1.5rem;
    
        background: #FFFFFE;
        border: 1px solid #121629;
        border-radius: 5px;

        order: 1;    
        font-size: var(--text-terciary);
        font-family: 'Quicksand';
        color: #747474;
    }
    
    .newsletter .newsletter__actions button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
    
        width: 6rem;
        height: 1.5rem;
    
        background: var(--cardTagBackground);
        border: 1px solid #121629;
        border-radius: 5px;

        order: 2;
        font-family: 'Quicksand';
        font-size: var(--text-terciary);
        color: var(--secondary);
    }

    footer {
        padding: var(--sp-md) var(--sp-sm);
    }

    .newsletterFooter {
        display: none;
    }

    footer .copy-right {
        text-align: center;
        margin-top: 20px;
    }

    .information {
        margin-top: 20px;
        border-top: 1px solid #FFFFFE;;
    }

    .information__more {
        justify-content: center;
        column-gap: var(--sp-lg);
        row-gap: var(--sp-md);
    }

    .information__more h3  {
        font-size: 1.6em;
        line-height: 24px;
    }    

    .information__more ul {
        font-size: 12px;
        line-height: 15px;
    }

    .information__more .followUs ul li figure img {
        width: 20px;
        height: 20px;
    }
    
    .option__socialNetwork:hover {
        animation: scale-up 0.8s linear both;
    }
} */

/* @media screen and (max-width: 767.98px) {
    header {
        padding:var(--sp-sm) var(--sp-lg);
    }

    #bannerPpal {
        padding-top: var( --sp-md);
    }

    #bannerPpal > h1 { 
        max-width: 90%;
    }

    .newsletter {
        display: none;
    }

    .navbar-toggle {
        display: block;
    }
    
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    header nav a img {
        width: 60px;
        height: 60px;
    } 
    
    .navigation {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background);
        position: fixed;
        top: 86px;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
        gap: 1rem;

        height: calc(100% - 80px);
        overflow-y: auto;

        left: 0;
        transition: left 0.3s;
    }

    .navbar .navigation .pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.8rem 1.6rem;
        gap: 1.6rem;
        width: 13.2rem;
        height: 3.6rem;
        background: var(--cardBackground);
        border: 2px solid var(--stroke);
        border-radius: 20px;
    }
    
    .pages:hover {
        animation: scale-up 0.8s linear both;
    }

    .navigation__item {
        line-height: 70px;
    }

    .navigation_visible {
        left: 100%;
    }
} */

/* @media screen and (max-width: 991.98px) {
    header {
        padding:var(--sp-sm) var(--sp-xl);
    }

    nav {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .navigation {
        display: flex;
        margin: 0 auto;
        gap: 1rem;
    }

    .navbar .navigation .pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.8rem 1.6rem;
        gap: 1.6rem;
        
        width: 13.2rem;
        height: 3.6rem;
    
        background: var(--cardBackground);
        border: 2px solid var(--stroke);
        border-radius: 20px;
    }
    
    .pages:hover {
        animation: scale-up 0.8s linear both;
    }

    #bannerPpal {
        grid-template-rows: repeat(3, 0.25fr);
        padding-left: var(--sp-xl);
        padding-right: var(--sp-xl);
        padding-top: var( --sp-md);
    }

    #bannerPpal > h1 {
        font-size: var(--text-heading2);
        grid-row: 1/2;
        margin: 0 auto;
    }
    
    #bannerPpal > .description {
        width: 100%;
        font-size: var(--text-secondary);
        font-style: normal;
        font-weight: 500;
        grid-row: 2/3;
        letter-spacing: 0.02em;
        max-width: 90%;
    }
    
    #bannerPpal > .imgPpal {
        grid-row: 3/4;
        justify-content: center;
        align-self: center;
    }

    #bannerPpal .imgPpal .imgbanner {
        width: 90%;
        height: 90%;
    }

    #goldenCircle > div > article > h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        color: var(--heading1-2);
        align-self: center;
        font-size: var(--text-heading3-4-5-6) !important;
    }

    #goldenCircle > div > article > p {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.01em;
        font-size: var(--text-secondary) !important;
    }

    #potentialUsers {
        padding-left: var(--sp-xl);
        padding-right: var(--sp-xl);
    }

    #potentialUsers > h2 {
        font-size: var(--text-heading3-4-5-6);
    }

    .newsletter {
        display: none;
    }

    .newsletterFooter > .newsletterFooter__data > article > h4 {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: var(--text-paragraph);
        letter-spacing: -0.02em;
        color: var(--text-footer);
    }

    .newsletterFooter > .newsletterFooter__data > article > p {
        font-family: 'Quicksand';
        font-weight: 400;
        font-size: var(--text-secondary);
        color: var(--text-footer);
    }

    .newsletterFooter__actions {
        display: flex;
        flex-direction: row;
    }

    .newsletterFooter .newsletterFooter__actions input {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 1.2rem;
    
        width: 21rem;
        height: 4rem;
    
        background: #FFFFFE;
        border: 1px solid #121629;
        border-radius: 8px;

        order: 1;    
        font-size: var(--text-secondary);
        font-family: 'Quicksand';
        color: #747474;
    }
    
    .newsletterFooter .newsletterFooter__actions button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
    
        width: 7rem;
        height: 4rem;
    
        background: var(--cardTagBackground);
        border: 1px solid #121629;
        border-radius: 8px;

        order: 2;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: var(--text-terciary);
        color: var(--secondary);
    }
} */

/* @media screen and (min-width: 992px) { 
    header {
        padding:var(--sp-sm) var(--sp-xl);
    }

    nav {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .navigation {
        display: flex;
        margin: 0 auto;
        gap: 1rem;
    }

    .navbar .navigation .pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.8rem 1.6rem;
        gap: 1.6rem;
        
        width: 13.2rem;
        height: 3.6rem;
    
        background: var(--cardBackground);
        border: 2px solid var(--stroke);
        border-radius: 20px;
    }
    
    .pages:hover {
        animation: scale-up 0.8s linear both;
    }

    #bannerPpal {
        padding-top: var( --sp-md);
        grid-template-rows: repeat(3, 0.25fr);
    }

    #bannerPpal > h1 {
        grid-row: 1/2;
        max-width: 80%;
    }
    
    #bannerPpal > .description {
        font-size: var(--text-paragraph);
        font-style: normal;
        font-weight: 500;
        grid-row: 2/3;
        letter-spacing: 0.02em;
    }
    
    #bannerPpal > .imgPpal {
        grid-row: 3/4;
        justify-content: center;
        align-self: center;
    }

    #goldenCircle > div > article > h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        color: var(--heading1-2);
        font-size: var(--text-heading2) !important;
    }

    #goldenCircle > div > article > p {
        width: 85%;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.01em;
        font-size: var(--text-paragraph) !important;
    }

    .newsletter {
        display: none;
    }

    .newsletterFooter > .newsletterFooter__data > article > h4 {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: var(--text-paragraph);
        letter-spacing: -0.02em;
        color: var(--text-footer);
    }

    .newsletterFooter > .newsletterFooter__data > article > p {
        font-family: 'Quicksand';
        font-weight: 400;
        font-size: var(--text-secondary);
        color: var(--text-footer);
    }

    .newsletterFooter__actions {
        display: flex;
        flex-direction: row;
    }

    .newsletterFooter .newsletterFooter__actions input {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 1.2rem;
    
        width: 21rem;
        height: 4rem;
    
        background: #FFFFFE;
        border: 1px solid #121629;
        border-radius: 8px;

        order: 1;    
        font-size: var(--text-secondary);
        font-family: 'Quicksand';
        color: #747474;
    }
    
    .newsletterFooter .newsletterFooter__actions button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
    
        width: 7rem;
        height: 4rem;
    
        background: var(--cardTagBackground);
        border: 1px solid #121629;
        border-radius: 8px;

        order: 2;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: var(--text-terciary);
        color: var(--secondary);
    }
} */

/* @media screen and (min-width: 1200px) { 
    #bannerPpal {
        padding-top: var( --sp-lg);
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    #bannerPpal > h1 {
        text-align: start;
    }

    #bannerPpal > .description {
        font-size: var(--text-paragraph);
        font-style: normal;
        font-weight: 500;
        grid-area: 2/1/3/2;
        letter-spacing: 0.02em;
    }
    
    #bannerPpal > .imgPpal {
        grid-area: 1/2/3/3;
    }
} */

/*
******************
*****About Us*****
******************
*/


/* .blog-card {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}



.blog-card .photo {
    position: relative;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
    width: 25px;
}

.blog-card .photo:hover {
    transform: scale(1.3) rotate(3deg);
}

.blog-card  a {
    color: inherit;
}

.blog-card  a:hover {
    color: #5ad67d;
}

.blog-card
.details,
.details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
}

.details a {
    text-decoration: dotted underline
} 

.details ul li {
    display: inline-block;
}

.details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
}

.details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}

.details .tags li {
    margin-right: 2px;
}

.details .tags li:first-child {
    margin-left: -4px;
} */

/*.blog-card {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}

.blog-card  a {
    color: inherit;
}

.blog-card  a:hover {
    color: #5ad67d;
}

.blog-card .photo:hover {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.details,
.details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: #fff;;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.details a {
    text-decoration: dotted underline;
}

.details  ul li {
    display: inline-block;
}

.details .author:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f007";
}

.details .date:before {
    font-family: FontAwesome;
    margin-right: 10px;
    content: "\f133";
}

.details .tags ul:before {
    font-family: FontAwesome;
    content: "\f02b";
    margin-right: 10px;
}

.details .tags li {
    margin-right: 2px;
}

.details .tags li:first-child {
    margin-left: -4px;
}


.description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.description h1, h2 {
    font-family: Poppins, sans-serif;
}

.description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.description  h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #e2e2e2; 
    margin-top: 5px;
}

.description .read-more {
    text-align: right;
}

.description .read-more a {
    color: #5ad67d; 
    display: inline-block;
    position: relative;
}

.description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}

.description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card  p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card  p :first-of-type {
    margin-top: 1.25rem;
}

.blog-card  p :first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}


@media screen and (min-width: 640px) {
    .meta {
        flex-direction: row;
        max-width: 700px;
        flex-basis: 40%;
        height: auto;
    }

    .description {
        flex-direction: row;
        max-width: 700px;
        flex-basis: 60%;
    }

    .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .alt {
        flex-direction: row;
        max-width: 700px;
        flex-direction: row-reverse;
    }

    .alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }

    .alt .details {
        padding-left: 25px;
    }
}*/


/*==========================
=====SLIDER DE IMAGENES=====
============================*/

/* .carousel-inner {
    max-height: 39rem;
} */


/*EFECTOS*/
/* @keyframes scale-up {
    0% {
        transform:scale(1)
    }
    50% {
        transform:scale(1.2)
    }
    100% {transform:scale(1)
    }
} */