/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Poppins:wght@300;400;500;600;700;800&family=Quicksand:wght@500;600;700;800&display=swap");
/* MISC */
/* VARIABLE */
/* Palette */
/* Illustration */
/* Elements */
/* Font Sizes */
/*relativo al tamanio que el navegador lo defina*/
/* Spacing */
/*siempre vale el tamanio de la etiqueta raiz, o sea la del navegador*/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Quicksand", sans-serif;
  color: #b8c1ec;
  background-color: #232946;
  overflow-x: hidden; }

ul {
  list-style-type: none;
  padding-left: 0; }

a {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6em;
  text-decoration: none;
  color: #121629; }
  a:hover {
    color: #121629; }

/* COMPONENTE BUSQUEDA */
.search-box {
  background: #121629;
  height: 50px;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center; }

.search-input {
  outline: none;
  border: none;
  background: none;
  width: 0;
  padding: 0;
  color: #fffffe;
  float: left;
  font-size: 16px;
  transition: 0.3s;
  line-height: 40px; }
  .search-input::placeholder {
    color: #fffffe; }

.search-btn {
  color: #fffffe;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #121629;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s; }

.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 240px;
  padding: 0 6px; }

.search-box:hover > .search-input {
  width: 240px;
  padding: 0 6px; }

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
  background: #fffffe;
  color: #121629; }

/* COMPONENTE FORM */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em 1em; }

.inputBox {
  position: relative; }
  .inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fffffe;
    background: #232946;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em; }
    .inputBox input:valid ~ span,
    .inputBox input:focus ~ span {
      color: #b8c1ec;
      transform: translateX(10px) translateY(-7px);
      font-size: 0.65em;
      padding: 0 10px;
      background: #121629;
      border-radius: 2px;
      letter-spacing: 0.2em; }
    .inputBox input:valid, .inputBox input:focus {
      border: 1px solid #121629; }
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    margin-left: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #b8c1ec;
    text-transform: uppercase;
    transition: 0.5s; }
  .inputBox textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fffffe;
    background: #232946;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em; }
    .inputBox textarea:valid ~ span,
    .inputBox textarea:focus ~ span {
      color: #b8c1ec;
      transform: translateX(10px) translateY(-7px);
      font-size: 0.65em;
      padding: 0 10px;
      background: #121629;
      border-radius: 2px;
      letter-spacing: 0.2em; }
    .inputBox textarea:valid, .inputBox textarea:focus {
      border: 1px solid #121629; }

/* COMPONENTE BUTTOM FORM */
.button {
  position: relative;
  width: 15%;
  height: 30px;
  font-size: 10px;
  background-color: #202231;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: width 0.5s;
  border-radius: 1s; }

.button * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s; }

.iconDisable {
  opacity: 0; }

.button:focus {
  width: 30px;
  background-color: #44c08a;
  border-radius: 50%; }

.button:focus .text {
  opacity: 0; }

.button:focus .iconDisable {
  opacity: 1;
  transition-delay: 0.5s; }

/* PARTIALS */
header {
  padding: 0.8rem 12rem;
  background-color: #b8c1ec;
  width: 100%;
  box-shadow: 0 0 7px black;
  top: 0; }

.navbar-toggle {
  color: #232946;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none; }

@media screen and (max-width: 359.98px) {
  header {
    padding: 0.8rem 1.6rem !important; } }

@media screen and (max-width: 575.98px) {
  header {
    padding: 0.8rem 3.2rem; }
    header img {
      width: 60px;
      height: 60px; }
    header .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto; }
      header .navbar .navigation {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #232946;
        position: fixed;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
        gap: 1rem;
        height: calc(100% - 80px);
        overflow-y: auto;
        left: 0;
        transition: left 0.3s; }
        header .navbar .navigation .pages {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.8rem 1.6rem;
          gap: 1.6rem;
          width: 13.2rem;
          height: 3.6rem;
          background: #fffffe;
          border: 2px solid #121629;
          border-radius: 20px; }
          header .navbar .navigation .pages:hover {
            animation: scale-up 0.8s linear both; }
          header .navbar .navigation .pages .navigation__item {
            line-height: 70px; }
      header .navbar .navigation_visible {
        left: 100%; }
    header .navbar-toggle {
      display: block; } }

@media screen and (max-width: 767.98px) {
  header {
    padding: 0.8rem 3.2rem; }
    header img {
      width: 60px;
      height: 60px; }
    header .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto; }
      header .navbar .navigation {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #232946;
        position: fixed;
        top: 86px;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto;
        gap: 1rem;
        height: calc(100% - 80px);
        overflow-y: auto;
        left: 0;
        transition: left 0.3s; }
        header .navbar .navigation .pages {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.8rem 1.6rem;
          gap: 1.6rem;
          width: 13.2rem;
          height: 3.6rem;
          background: #fffffe;
          border: 2px solid #121629;
          border-radius: 20px; }
          header .navbar .navigation .pages:hover {
            animation: scale-up 0.8s linear both; }
          header .navbar .navigation .pages .navigation__item {
            line-height: 70px; }
      header .navbar .navigation_visible {
        left: 100%; }
      header .navbar .navbar-toggle {
        display: block; } }

@media screen and (max-width: 991.98px) {
  header {
    padding: 0.8rem 5rem; }
    header .navbar {
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      header .navbar .navigation {
        display: flex;
        margin: 0 auto;
        gap: 1rem; }
        header .navbar .navigation .pages {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.8rem 1.6rem;
          gap: 1.6rem;
          width: 13.2rem;
          height: 3.6rem;
          background: #fffffe;
          border: 2px solid #121629;
          border-radius: 20px; }
          header .navbar .navigation .pages:hover {
            animation: scale-up 0.8s linear both; } }

@media screen and (min-width: 992px) {
  header {
    padding: 0.8rem 5rem; }
    header .navbar {
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      header .navbar .navigation {
        display: flex;
        margin: 0 auto;
        gap: 1rem; }
        header .navbar .navigation .pages {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0.8rem 1.6rem;
          gap: 1.6rem;
          width: 13.2rem;
          height: 3.6rem;
          background: #fffffe;
          border: 2px solid #121629;
          border-radius: 20px; }
          header .navbar .navigation .pages:hover {
            animation: scale-up 0.8s linear both; } }

/*EFECTOS*/
@keyframes scale-up {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  box-shadow: 0 0 7px black;
  background-color: #b8c1ec;
  padding-top: 1.6rem; }
  footer .newsletter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(216px, 35rem));
    margin: 0 20px; }
  footer .newsletterFooter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(216px, 35rem));
    margin: 0 20px; }
    footer .newsletterFooter .newsletterFooter__data {
      box-shadow: 0 18px 200px -60px black;
      border-radius: 20px;
      position: relative;
      background-color: #fffffe;
      border: 1px solid #121629;
      padding: 3.5rem 3rem;
      gap: 1.6rem;
      display: flex;
      flex-direction: column;
      margin: 0 auto 3.2rem; }
  footer .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    footer .information .information__more {
      display: flex;
      flex-flow: row wrap;
      gap: 3.2rem;
      justify-content: end; }
      footer .information .information__more h3 {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 2.2em;
        letter-spacing: -0.02em;
        color: #121629; }
      footer .information .information__more ul {
        font-family: 'Quicksand';
        color: #121629;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.01em;
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        margin-top: 1.6rem; }
      footer .information .information__more .followUs ul {
        display: flex;
        flex-direction: row;
        column-gap: 8px; }
      footer .information .information__more .followUs img {
        width: 25px;
        height: 25px;
        color: #121629; }
      footer .information .information__more .followUs .option__socialNetwork:hover {
        animation: scale-up 0.8s linear both; }
  footer .copy-right {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.2em;
    text-align: right;
    letter-spacing: 0.05em;
    color: #121629; }

@media screen and (max-width: 575.98px) {
  footer {
    padding: 1.6rem 0.8rem; }
    footer .newsletter {
      display: block !important; }
      footer .newsletter .newsletter__data h4 {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: 1.6em;
        letter-spacing: -0.02em;
        color: #121629; }
      footer .newsletter .newsletter__data p {
        font-family: 'Quicksand';
        font-weight: 400;
        font-size: 1.2em;
        color: #121629;
        max-width: 300px; }
      footer .newsletter .newsletter__actions {
        display: flex;
        flex-direction: row;
        gap: 1rem; }
        footer .newsletter .newsletter__actions input {
          display: flex;
          flex-direction: row;
          justify-content: start;
          padding: 1.2rem;
          width: 15rem;
          height: 1.5rem;
          background: #FFFFFE;
          border: 1px solid #121629;
          border-radius: 5px;
          order: 1;
          font-size: 1.2em;
          font-family: 'Quicksand';
          color: #747474; }
        footer .newsletter .newsletter__actions button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 1.2rem;
          width: 6rem;
          height: 1.5rem;
          background: #232946;
          border: 1px solid #121629;
          border-radius: 5px;
          order: 2;
          font-family: 'Quicksand';
          font-size: 1.2em;
          color: #fffffe; }
    footer .newsletterFooter {
      display: none; }
    footer .copy-right {
      text-align: center;
      margin-top: 20px; }
    footer .information {
      margin-top: 20px;
      border-top: 1px solid #FFFFFE; }
      footer .information .information__more {
        justify-content: center;
        column-gap: 3.2rem;
        row-gap: 1.6rem; }
        footer .information .information__more h3 {
          font-size: 1.6em;
          line-height: 24px; }
        footer .information .information__more ul {
          font-size: 12px;
          line-height: 15px; }
        footer .information .information__more img {
          width: 20px;
          height: 20px; } }

@media screen and (max-width: 991.98px) {
  .newsletter {
    display: none !important; }
  .newsletterFooter .newsletterFooter__data h4 {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 2.2em;
    letter-spacing: -0.02em;
    color: #121629; }
  .newsletterFooter .newsletterFooter__data p {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.6em;
    color: #121629; }
  .newsletterFooter .newsletterFooter__data .newsletterFooter__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /*$sp-lg;*/ }
    .newsletterFooter .newsletterFooter__data .newsletterFooter__actions input {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 1.2rem;
      width: 21rem;
      height: 4rem;
      background: #FFFFFE;
      border: 1px solid #121629;
      border-radius: 8px;
      order: 1;
      font-size: 1.6em;
      font-family: 'Quicksand';
      color: #747474; }
    .newsletterFooter .newsletterFooter__data .newsletterFooter__actions button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1.2rem;
      width: 7rem;
      height: 4rem;
      background: #232946;
      border: 1px solid #121629;
      border-radius: 8px;
      order: 2;
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 700;
      font-size: 1.2em;
      color: #fffffe; } }

@media screen and (min-width: 992px) {
  .newsletter {
    display: none !important; }
  .newsletterFooter .newsletterFooter__data h4 {
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 2.2em;
    letter-spacing: -0.02em;
    color: #121629; }
  .newsletterFooter .newsletterFooter__data p {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.6em;
    color: #121629; }
  .newsletterFooter .newsletterFooter__data .newsletterFooter__actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /*$sp-lg;*/ }
    .newsletterFooter .newsletterFooter__data .newsletterFooter__actions input {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 1.2rem;
      width: 21rem;
      height: 4rem;
      background: #FFFFFE;
      border: 1px solid #121629;
      border-radius: 8px;
      order: 1;
      font-size: 1.6em;
      font-family: 'Quicksand';
      color: #747474; }
    .newsletterFooter .newsletterFooter__data .newsletterFooter__actions button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1.2rem;
      width: 7rem;
      height: 4rem;
      background: #232946;
      border: 1px solid #121629;
      border-radius: 8px;
      order: 2;
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 700;
      font-size: 1.2em;
      color: #fffffe; } }

/* PAGES */
#bannerPpal {
  display: grid; }
  #bannerPpal h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 8em;
    font-style: normal;
    font-weight: 800;
    color: #fffffe; }

#potentialUsers {
  margin-top: 3.2rem;
  margin-bottom: 8rem; }
  #potentialUsers h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #fffffe;
    font-size: 4.8em; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  gap: 16px; }

.profile-card {
  box-shadow: 0 18px 200px -60px black;
  border-radius: 20px;
  position: relative;
  /*backdrop-filter: blur(15px);*/
  background-color: #fffffe;
  border: 2px solid #121629;
  padding: 1.6rem;
  display: flex;
  flex-direction: column; }
  .profile-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 0 10 60px -10px rgba(13, 28, 39, 0.5); }

.profile-card__desc h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: #121629; }

.profile-card__desc p {
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 1.6em;
  color: #232946;
  gap: 0.8rem;
  font-style: italic; }

.profile-card__info {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1.6rem; }

.profile-card__social a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  margin: 0.3rem;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s; }

.facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5); }

.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7); }

.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6); }

@media screen and (max-width: 359.98px) {
  #bannerPpal {
    padding-top: 1.6rem; }
    #bannerPpal h1 {
      font-size: 3.2em !important; } }

@media screen and (max-width: 575.98px) {
  #bannerPpal {
    padding-top: 1.6rem; }
  #bannerPpal,
  #potentialUsers {
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important; }
    #bannerPpal h2,
    #potentialUsers h2 {
      font-size: 3.2em !important; }
  #goldenCircle div {
    width: 70% !important; }
  #goldenCircle h2 {
    align-self: flex-start !important;
    font-size: 2.2em !important; }
  #goldenCircle p {
    font-size: 1.6em !important; } }

@media screen and (max-width: 767.98px) {
  #bannerPpal {
    padding-top: 1.6rem; }
    #bannerPpal h1 {
      max-width: 90%; } }

@media screen and (max-width: 991.98px) {
  #bannerPpal {
    grid-template-rows: repeat(3, 0.25fr);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.6rem; }
    #bannerPpal h1 {
      font-size: 4.8em;
      grid-row: 1/2;
      margin: 0 auto; }
    #bannerPpal .description {
      width: 100%;
      font-size: 1.6em;
      font-style: normal;
      font-weight: 500;
      grid-row: 2/3;
      letter-spacing: 0.02em;
      max-width: 90%; }
    #bannerPpal .imgPpal {
      grid-row: 3/4;
      justify-content: center;
      align-self: center; }
      #bannerPpal .imgPpal .imgbanner {
        width: 90%;
        height: 90%; }
  #goldenCircle h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #fffffe;
    align-self: center;
    font-size: 3.2em !important; }
  #goldenCircle p {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 1.6em !important; }
  #potentialUsers {
    padding-left: 5rem;
    padding-right: 5rem; }
    #potentialUsers h2 {
      font-size: 3.2em; } }

@media screen and (min-width: 992px) {
  #bannerPpal {
    padding-top: 1.6rem;
    grid-template-rows: repeat(3, 0.25fr); }
    #bannerPpal h1 {
      grid-row: 1/2;
      max-width: 80%; }
    #bannerPpal .description {
      font-size: 2.2em;
      font-style: normal;
      font-weight: 500;
      grid-row: 2/3;
      letter-spacing: 0.02em; }
    #bannerPpal .imgPpal {
      grid-row: 3/4;
      justify-content: center;
      align-self: center; }
  #goldenCircle h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #fffffe;
    font-size: 4.8em !important; }
  #goldenCircle p {
    width: 85%;
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 2.2em !important; } }

@media screen and (min-width: 1200px) {
  #bannerPpal {
    padding-top: 3.2rem;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr); }
    #bannerPpal h1 {
      text-align: start; }
    #bannerPpal .description {
      font-size: 2.2em;
      font-style: normal;
      font-weight: 500;
      grid-area: 2/1/3/2;
      letter-spacing: 0.02em; }
    #bannerPpal .imgPpal {
      grid-area: 1/2/3/3; } }

/*EFECTOS*/
@keyframes scale-up {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.carousel-inner {
  max-height: 39rem; }

#Jobs h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  color: #fffffe;
  font-size: 4.8em; }

#Jobs p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: 2.2em; }

h3,
h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  color: #232946; }

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fffffe;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0; }
  .blog-card a {
    color: inherit; }
    .blog-card a:hover {
      color: #5ad67d; }
  .blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg); }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .blog-card .photo {
    position: absolute;
    object-fit: cover;
    background-position: center;
    transition: transform 0.2s; }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none; }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem; }
    .blog-card .details ul li {
      display: inline-block; }
    .blog-card .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007"; }
    .blog-card .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133"; }
    .blog-card .details .tags ul:before {
      font-family: FontAwesome;
      content: "\f02b";
      margin-right: 10px; }
    .blog-card .details .tags li {
      margin-right: 2px; }
      .blog-card .details .tags li:first-child {
        margin-left: -4px; }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
    /*h1,
		h2 {
			font-family: Poppins, sans-serif;
		}*/ }
    .blog-card .description h3 {
      line-height: 1;
      margin: 0;
      font-size: 2.2em;
      font-weight: 600;
      letter-spacing: 0.02em;
      font-size: 3.2em; }
    .blog-card .description h4 {
      color: #a2a2a2;
      font-size: 1.8em;
      margin-top: 1rem; }
    .blog-card .description .read-more {
      text-align: right; }
      .blog-card .description .read-more a {
        color: #b8c1ec;
        display: inline-block;
        position: relative; }
        .blog-card .description .read-more a:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s; }
        .blog-card .description .read-more a:hover:after {
          margin-left: 5px;
          opacity: 1; }
  .blog-card p {
    color: #232946;
    position: relative;
    letter-spacing: 0;
    margin: 1rem 0 0; }
    .blog-card p:first-of-type {
      margin-top: 3rem; }
      .blog-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #5ad67d;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px; }
  .blog-card:hover .details {
    left: 0%; }
  @media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 900px; }
      .blog-card .meta {
        flex-basis: 90%;
        height: auto; }
      .blog-card .description {
        flex-basis: 60%; }
        .blog-card .description:before {
          transform: skewX(-3deg);
          content: "";
          background: #fff;
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .blog-card.alt {
        flex-direction: row-reverse; }
        .blog-card.alt .description:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .blog-card.alt .details {
          padding-left: 25px; } }

#BannerAboutUs {
  display: grid; }
  #BannerAboutUs h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 8em;
    font-style: normal;
    font-weight: 800;
    color: #fffffe; }

#OurMission {
  display: grid;
  grid-template: 0.15fr 0.75fr/repeat(2, 1fr); }
  #OurMission h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    color: #fffffe;
    font-size: 4.8em; }
  #OurMission span {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: 2.2em;
    grid-area: 2/1/3/2; }
  #OurMission .imgOurMission {
    grid-area: 1/2/3/3; }

#team h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  color: #fffffe;
  font-size: 4.8em; }

#team .team__profile img {
  width: 30%;
  height: 30%;
  display: block;
  height: auto; }

#team .team__profile h3 {
  color: #b8c1ec; }

#team .team__profile h4 {
  color: #fffffe; }

#team .team__profile p {
  font-size: 1.4em; }

@media screen and (min-width: 1200px) {
  #BannerAboutUs {
    padding-top: 3.2rem;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr); }
    #BannerAboutUs h1 {
      grid-area: 1/1/2/2;
      text-align: start; }
    #BannerAboutUs .description {
      font-size: 2.2em;
      font-style: normal;
      font-weight: 500;
      grid-area: 2/1/3/3;
      letter-spacing: 0.02em; }
    #BannerAboutUs .imgPpal {
      grid-area: 1/2/2/3; } }

.title-trendig {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.2em;
  letter-spacing: -0.02em;
  color: #fffffe;
  text-align: center;
  margin-bottom: 1.6rem; }

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 272px));
  justify-content: center;
  gap: 16px; }

.news-card {
  padding: 1.1rem 1.5rem;
  background: #fffffe;
  border: 2px solid #121629;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  min-width: 220px; }
  .news-card .news-card__blogger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 127px; }
    .news-card .news-card__blogger .blogguer-info {
      display: flex;
      flex-flow: row nowrap;
      gap: 1.1rem 1.5rem;
      align-items: center; }
      .news-card .news-card__blogger .blogguer-info img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        box-shadow: 0 10 60px -10px rgba(13, 28, 39, 0.5); }
      .news-card .news-card__blogger .blogguer-info h3 {
        margin-bottom: 0; }
    .news-card .news-card__blogger p {
      font-family: "Quicksand";
      font-weight: 400;
      font-size: 1.4em;
      color: #232946;
      margin-bottom: 0; }
    .news-card .news-card__blogger .date {
      font-family: "Quicksand";
      font-weight: 500;
      color: #232946;
      margin-bottom: 0;
      font-size: 1.2em; }

@media screen and (min-width: 280px) {
  #main-container .both-section {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center; }
    #main-container .both-section .main-layout {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.8rem; }
      #main-container .both-section .main-layout .container-article-fig {
        display: flex;
        justify-content: space-between; }
        #main-container .both-section .main-layout .container-article-fig .news-card__general {
          padding: 1.1rem 1.5rem;
          background: #fffffe;
          border: 2px solid #121629;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          width: 100%;
          max-width: 300px;
          min-width: 220px; }
          #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 127px; }
            #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication .about-writer {
              display: flex;
              flex-flow: row nowrap;
              gap: 1.1rem 1.5rem;
              align-items: center; }
              #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication .about-writer img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                display: block;
                box-shadow: 0 10 60px -10px rgba(13, 28, 39, 0.5); }
              #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication .about-writer h3 {
                margin-bottom: 0; }
            #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication p {
              font-family: "Quicksand";
              font-weight: 400;
              font-size: 1.4em;
              color: #232946;
              margin-bottom: 0; }
            #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication .date {
              font-family: "Quicksand";
              font-weight: 500;
              color: #232946;
              margin-bottom: 0;
              font-size: 1.2em; }
        #main-container .both-section .main-layout .container-article-fig .news-fig {
          display: none; }
    #main-container .both-section aside {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
      row-gap: 3.2rem; }
      #main-container .both-section aside article {
        align-content: center;
        align-self: center; }
        #main-container .both-section aside article h3 {
          font-family: "Quicksand";
          font-style: normal;
          font-weight: 700;
          letter-spacing: -0.02em;
          color: #fffffe;
          text-align: center;
          margin-bottom: 1.6rem; }
        #main-container .both-section aside article .options-discover {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          margin: 0 auto;
          gap: 0.5rem; }
          #main-container .both-section aside article .options-discover .pages {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            background: #fffffe;
            border: 2px solid #121629;
            border-radius: 20px; }
            #main-container .both-section aside article .options-discover .pages:hover {
              animation: scale-up 0.8s linear both; }
            #main-container .both-section aside article .options-discover .pages a {
              font-size: 1.2rem; }
        #main-container .both-section aside article .search-box {
          height: 30px;
          border-radius: 30px; }
        #main-container .both-section aside article .search-input {
          font-size: 12px; }
        #main-container .both-section aside article .search-btn {
          width: 20px;
          height: 20px; }
        #main-container .both-section aside article .search-input:focus,
        #main-container .both-section aside article .search-input:not(:placeholder-shown) {
          width: 200px; }
        #main-container .both-section aside article .search-box:hover > .search-input {
          width: 200px; } }

@media screen and (min-width: 576px) {
  .news-card .news-card__blogger p {
    font-size: 1.6em; }
  #main-container
.both-section
.main-layout
.container-article-fig
.news-card__general
.news-card__publication
p {
    font-size: 1.6em; }
  .container-article-fig {
    column-gap: 1rem; }
    .container-article-fig .news-fig {
      display: block !important;
      border-radius: 10px;
      width: 100%;
      height: 153px;
      max-width: 220px;
      min-width: 110px;
      object-fit: cover; }
  aside article {
    padding: 0 10rem; } }

@media screen and (min-width: 768px) {
  #main-container .both-section {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center; }
    #main-container .both-section .main-layout {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      row-gap: 1.8rem; }
      #main-container .both-section .main-layout .container-article-fig {
        display: flex;
        justify-content: space-between;
        column-gap: 1.8rem; }
        #main-container .both-section .main-layout .container-article-fig .news-card__general {
          padding: 1.1rem 1.5rem;
          background: #fffffe;
          border: 2px solid #121629;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          width: 100%;
          max-width: 300px;
          min-width: 220px; }
          #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 127px; }
            #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication .about-writer {
              display: flex;
              flex-flow: row nowrap;
              gap: 1.1rem 1.5rem;
              align-items: center; }
              #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication .about-writer img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                display: block;
                box-shadow: 0 10 60px -10px rgba(13, 28, 39, 0.5); }
              #main-container .both-section .main-layout .container-article-fig .news-card__general .news-card__publication .about-writer h3 {
                margin-bottom: 0; }
    #main-container .both-section aside {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
      row-gap: 3.2rem; }
      #main-container .both-section aside article {
        align-content: center;
        align-self: center;
        padding: 0 15rem; }
        #main-container .both-section aside article h3 {
          font-family: "Quicksand";
          font-style: normal;
          font-weight: 700;
          font-size: 2.2em;
          letter-spacing: -0.02em;
          color: #fffffe;
          text-align: center;
          margin-bottom: 1.6rem; }
        #main-container .both-section aside article .options-discover {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          margin: 0 auto;
          gap: 0.5rem; }
          #main-container .both-section aside article .options-discover .pages {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            background: #fffffe;
            border: 2px solid #121629;
            border-radius: 20px; }
            #main-container .both-section aside article .options-discover .pages:hover {
              animation: scale-up 0.8s linear both; }
        #main-container .both-section aside article .search-box {
          height: 40px;
          border-radius: 40px; }
        #main-container .both-section aside article .search-btn {
          width: 30px;
          height: 30px; } }

@media screen and (min-width: 992px) {
  #main-container {
    margin-top: 3.2rem;
    margin-bottom: 8rem; }
    #main-container h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      color: #fffffe;
      font-size: 4.8em; }
    #main-container .both-section {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #main-container .both-section aside {
        padding: 1rem 8rem; }
        #main-container .both-section aside article {
          padding: 0; } }

@media screen and (min-width: 1200px) {
  aside {
    padding: 1rem 10rem !important; } }

/*EFECTOS*/
@keyframes scale-up {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

#contact {
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center; }

@media screen and (min-width: 280px) {
  h2 {
    font-family: "Montserrat";
    font-weight: 500;
    color: #fffffe;
    font-size: 2.2em; }
  p {
    font-size: 1.4em;
    white-space: pre-line; }
  #contact h2,
  #contact p {
    text-align: center; }
  #location {
    margin-top: 3.2rem;
    margin-bottom: 5rem; }
    #location h3,
    #location h4 {
      font-family: "Poppins";
      font-weight: 500;
      color: #b8c1ec;
      font-size: c; }
    #location .location__info {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 30px;
      column-gap: 2rem; }
      #location .location__info .location__info--f2f {
        margin-bottom: 2rem; }
        #location .location__info .location__info--f2f img {
          border-radius: 5px; }
        #location .location__info .location__info--f2f .direction {
          margin-top: -1rem !important; }
          #location .location__info .location__info--f2f .direction a {
            font-size: 1.4rem;
            color: #b8c1ec; } }

@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.2em; }
  p {
    font-size: 1.4em;
    white-space: pre-line; } }

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 4.8em; }
  h3,
  h4 {
    font-size: 3.2em !important; }
  p {
    font-size: 2.2em; }
  .location__info h3 {
    font-size: 1.8em !important; }
  .location__info p {
    font-size: 1.4em; } }
