* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: $paragraph;
    background-color: $background;
    overflow-x: hidden;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: $text-secondary;
    text-decoration: none;
    color: $tagParagraph;
    &:hover {
        color: $tagParagraph;
    }
}

.search-box {
    background: rgb(18, 22, 41);
    height: 50px;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fffffe;
    float: left;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;

    &::placeholder {
        color: #fffffe;
    }
}

.search-btn {
    color: #fffffe;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: rgb(18, 22, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
    background: #fffffe;
    color: rgb(18, 22, 41);
}
