
/* VARIABLE */

    /* Palette */
    $background: #232946;
    $header: #b8c1ec;
    $footer: #b8c1ec;
    $heading1-2: #fffffe;
    $paragraph: #b8c1ec;
    $button: #eebbc3;
    $buttonText: #232946;
    $tagParagraph: #121629;
    $text-footer: #121629;

    /* Illustration */
    $stroke: #121629;
    $main: #b8c1ec;
    $highlight: #eebbc3;
    $secondary: #fffffe;
    $tertiary: #eebbc3;

    /* Elements */
    $cardBackground: #fffffe;
    $cardHeadline: #232946;
    $cardParagraph: #232946;
    $cardTagBackground: #232946;
    $cardTagText: #b8c1ec;
    $cardHighlight: #d4939d;

    /* Font Sizes */
    $text-heading1: 8em; /*relativo al tamanio que el navegador lo defina*/
    $text-heading2: 4.8em;
    $text-heading3-4-5-6: 3.2em;
    $text-paragraph: 2.2em;
    $text-secondary: 1.6em;
    $text-terciary: 1.2em;

    /* Spacing */
    $sp-xxxl: 12rem;
    /*siempre vale el tamanio de la etiqueta raiz, o sea la del navegador*/
    $sp-xxl: 8rem;
    $sp-xl: 5rem;
    $sp-lg: 3.2rem;
    $sp-xs: 0.5rem;
    $sp-md: 1.6rem;
    $sp-sm: 0.8rem;

