#contact {
  height: auto;
  width: 100vw;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 280px) {
  h2 {
    font-family: "Montserrat";
    font-weight: 500;
    color: $heading1-2;
    font-size: $text-paragraph;
  }

  p {
    font-size: 1.4em;
    white-space: pre-line;
  }

  #contact {
    h2,
    p {
      text-align: center;
    }
  }

  #location {
    margin-top: $sp-lg;
    margin-bottom: $sp-xl;

    h3,
    h4 {
      font-family: "Poppins";
      font-weight: 500;
      color: $paragraph;
      font-size: c;
    }

    .location__info {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 30px;
      column-gap: 2rem;

      .location__info--f2f {
        margin-bottom: 2rem;
        img {
          border-radius: 5px;
        }
        .direction {
          margin-top: -1rem !important;
          a {
            font-size: 1.4rem;
            color: $paragraph;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: $text-heading3-4-5-6;
  }

  p {
    font-size: 1.4em;
    white-space: pre-line;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: $text-heading2;
  }

  h3,
  h4 {
    font-size: $text-heading3-4-5-6 !important;
  }

  p {
    font-size: $text-paragraph;
  }

  .location__info {
    h3 {
      font-size: 1.8em !important;
    }

    p {
      font-size: 1.4em;
    }
  }
}
